@model Web5.Models.ViewModels.StudentVM
@{
    ViewBag.Title = "EditStudent";
}

<h2 class="text-center mt-5 fw-bold">Изменение данных студента</h2>

@using (Html.BeginForm("EditStudent", "Lab2", FormMethod.Post, new { @class = "container mt-5" }))
{
    @Html.AntiForgeryToken()

    <div class="card p-4 shadow">
        <h4 class="text-center fw-bold">Студент</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_студента)

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Фамилия, htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Фамилия, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Фамилия, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Имя, htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Имя, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Имя, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Отчество, htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Отчество, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Отчество, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Пол, htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.Пол, true, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.Пол, "Мужской", new { @class = "form-check-label" })
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.Пол, false, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.Пол, "Женский", new { @class = "form-check-label" })
                </div>
                @Html.ValidationMessageFor(model => model.Пол, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Адрес_проживания, "Адрес проживания", htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Адрес_проживания, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Адрес_проживания, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Дата_рождения, "Дата рождения", htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Дата_рождения, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Дата_рождения, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            @Html.LabelFor(model => model.Уровень_владения_ИЯ, "Уровень владения иностранными языками", htmlAttributes: new { @class = "col-md-4 col-form-label fw-bold" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Уровень_владения_ИЯ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Уровень_владения_ИЯ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-12 text-center">
                <input type="submit" value="Сохранить" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div class="text-center mt-3">
    @Html.ActionLink("Назад", "StudentsList", null, new { @class = "btn btn-dark" })
</div>